# i3blocks config file

command=$SCRIPT_DIR/$BLOCK_NAME
separator_block_width=12
color=#CCCCCC
separator=false
markup=pango


[i3-focusedwindow]
full_text=>_
label=>
#align=center
command=$SCRIPT_DIR/i3-focusedwindow/i3-focusedwindow
interval=persist
color=#FFFFFF
#min_width=600

#[test]
#full_text=Click me!
#command=echo "Got clicked with button $button"
#color=#F79494

#[volume]
#label=󰕾
#command=$SCRIPT_DIR/volume/volume
#interval=1
#signal=10
#color=#d088a6

#[memory]
#command=$SCRIPT_DIR/memory/memory
#label=
#separator=false
#interval=30

#[load_average]
#command=$SCRIPT_DIR/load_average/load_average
#label=󰍛
#interval=10

#[cpu_usage]
#command=$SCRIPT_DIR/cpu_usage/cpu_usage
#label=󰻠
#interval=1
#min_width=CPU 100.00%

[time]
command=date '+%H:%M:%S'
interval=1

[shutdown_menu]
full_text=
command=$SCRIPT_DIR/shutdown_menu/shutdown_menu
min_width=16
color=#bf616a
